@import "./primer.css";

html {
  overflow-y: scroll;
}

.App {
  padding-left: 10px;
  padding-right: 10px;
}

.Search {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
}

.container {
  padding: 10px 50px 100px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-auto-rows: 300px;
  /* grid-template-rows: 260px 400px 400px; */
}

.login {
  text-align: center;
}

.login-btn {
  background-color: black;
  height: 70px;
  display: block;
  width: 25%;
  margin: auto;
  color: white;
  border-radius: 10px;
}

.login-btn img {
  height: 80%;
  float: left;
  margin-top: 2%;
  margin-left: 32px;
}

.login-btn span {
  line-height: 4;
}

.fellows-count {
  text-align: center;
  width: 120px;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  margin: 0 5%;
  color: white;
  background-color: gray;
  text-transform: uppercase;
}

.custom-avatar:hover .cta {
  opacity: 1;
}

.event {
  display: flex;
}

a.event {
  color: initial;
}

a.event {
  text-decoration: none;
}

.event .calendar {
  box-sizing: border-box;
  min-width: 85px;
  min-height: 85px;
  background-color: lightgrey;
  text-align: center;
  border-radius: 5px;
}

.event .calendar span {
  display: block;
}

.event .calendar .day {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  background-color: red;
  color: white;
}

.event .calendar .date {
  font-size: 30px;
  margin-top: -5px;
}

.event .calendar .month {
  margin-top: -10px;
}

.event .details {
  padding-left: 10px;
}

.event .details span {
  display: block;
}

.techs-filter {
  position: relative !important;
  left: unset !important;
  right: unset !important;
  margin: auto;
  width: 25%;
}

.blue-btn {
  background-color: #1d539f !important;
  color: white !important;
}

.blue-btn:hover {
  background-color: #357ee6 !important;
}

.blue-btn:disabled {
  background-color: grey !important;
}

.portfolio .portfolio-header {
  width: fit-content;
  height: 100px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.portfolio .portfolio-header img {
  height: 100%;
}

.portfolio .portfolio-header .details span {
  display: block;
}

.portfolio .portfolio-header .username {
  padding-top: 25px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 2em;
}

.portfolio .bio {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
}

.portfolio .portfolio-tabs {
  margin-top: 10px;
}

.portfolio .standup ul {
  padding-left: 30px;
}

.portfolio .repo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.portfolio .repo .stats-wrapper {
  display: flex;
  justify-content: space-between;
}

.portfolio .repo .stats-wrapper .stars-forks {
  padding-top: 5px;
}

.portfolio .repo .stats-wrapper .stars-forks a {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 10px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding: 10px;
  }
}
